{
    "extends": [
        "airbnb",
        "eslint:recommended",
        "prettier/react",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": ["react", "prettier", "jest"],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/forbid-prop-types": [
            1,
            { "forbid": [], "checkContextTypes": true, "checkChildContextTypes": false }
        ],
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error",
        "import/prefer-default-export": 0
    },
    "env": {
        "browser": true,
        "jest/globals": true
    }
}
